<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ user.username }}</h1>
    <a href="{% url 'ver-compra' %}">ver</a>
    <a href="{% url 'logout_dialog' %}">logout</a>
    {% if user.is_authenticated %}
        <a href="{% url 'admin_manager' %}"></a>
        {% if user.is_superuser %}
            <a href="{% url 'admin_manager' %}">database_manager</a>
            <a href="{% url 'listar_ventas' %}">Ver ventas</a>
            <a href="{% url 'listar_facturas' %}">Ver Pedidos</a>
            <a href="{% url 'logout_dialog' %}">logout</a>
        {% endif %}
    {% endif %}
    <a href="{% url 'tienda' %}">volver inicio</a>
    {% block dialog %}
    {% endblock %}
</body>
</html>