{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"> -->
    
</head>
<body>
    <!--EL MENU Y LA BARRA DE BUSQUEDA -->
    <header >
        <div class="logo">
            <a href="{% url 'tienda' %}"><img src="{% static 'logo.svg' %}" alt=""></a>
            <div id="text_logo_cont">
                <a href="{% url 'tienda' %}"><img id="text_logo" src="{% static 'logo_2.svg' %}" alt=""></a>
            </div>
        </div>
        <div></div>
        {% block busca %}
        {% endblock %}
        <div class="menu">
            {% if user.is_authenticated %}
                <div class="cuenta">
                    <h4><a href="{% url 'account' %}" ><img src="{% static 'cuenta.png' %}" ></a></h4>
                    <h4>{{ user.username }}</h4>
                </div>
            {% else %}
            <div class="registro_login">
                <h4><a href="{% url 'register' %}">REGISTRO</a></h4>
                <H4><a href="{% url 'login' %}">LOGIN</a></H4>
            </div>
            {% endif %}

                <!-- <a class="cart_counter" href="{% url 'carrito' %}">
                     <span id="cart-count">0</span> 
                -->
                <a href="{% url 'carrito' %}">
                    <img src="{% static 'carrito.svg' %}" alt="">
                </a>

        </div>
        
    </header>
    <!-- CATEGORIAS Y FILTROS DE BUSQUEDA -->
    <div class="categorias">
        <div class="box">
            <input type="checkbox" id="toggle">

            <!-- Label que contiene el ícono del menú y el mensaje -->
            <label id="menu-label" for="toggle">
                <!-- Ícono del menú (visible siempre) -->
                <img src="{% static 'menu.png' %}" alt="Menú" width="30" height="30">

                 <!-- Mensaje que se mostrará cuando el checkbox esté marcado -->
                <div class="menuHlist">
                    <ul  id="mensaje">
                        <div>
                            <li><h1>Ropa</h1></li>
                            <li><a href="{% url 'buscar_categoria' 'Remeras'  %}">Remeras</a></li>
                            <li><a href="{% url 'buscar_categoria' 'Pantalones'  %}">Pantalones</a></li>
                            <li><a href="{% url 'buscar_categoria' 'Chalecos'  %}">Chalecos</a></li>
                            <li><a href="{% url 'buscar_categoria' 'Calcetines'  %}">Calcetines</a></li>
                            <li><a href="{% url 'buscar_categoria' 'Pantalones cortos'  %}">Pantalones cortos</a></li>
                        </div>
                        <div>
                            <li><h1>Accesorios</h1></li>
                            <li><a href="{% url 'buscar_categoria' 'Gorras'  %}">Gorras</a></li>
                            <li><a href="{% url 'buscar_categoria' 'Guantes'  %}">Guantes</a></li>
                            <li><a href="{% url 'buscar_categoria' 'Cinturones'  %}">Cinturones</a></li>
                        </div>
                        <div>
                            <li><h1>Equipamiento</h1></li>
                            <li><a href="{% url 'buscar_categoria' 'Bandas elásticas'  %}">Bandas elásticas</a></li>
                            <li><a href="{% url 'buscar_categoria' 'Pelotas'  %}">Pelotas</a></li>
                            <li><a href="{% url 'buscar_categoria' 'Kit entrenamiento'  %}">Kit entrenamiento</a></li>
                        </div>
                        <div>
                            <li><h1>Calzado</h1></li>
                            <li><a href="{% url 'buscar_categoria' 'Calzado'  %}">Calzado</a></li>
                            <li><a href="{% url 'buscar_categoria' 'Botines'  %}">Botines</a></li>
                        </div>
                        <div>
                            <li><h1>Seguridad</h1></li>
                            <li><a href="{% url 'buscar_categoria' 'Rodilleras'  %}">Rodilleras</a></li>
                            <li><a href="{% url 'buscar_categoria' 'Hombreras'  %}">Hombreras</a></li>
                            <li><a href="{% url 'buscar_categoria' 'Coderas'  %}">Coderas</a></li>
                            <li><a href="{% url 'buscar_categoria' 'Cascos'  %}">Cascos</a></li>
                        </div>
                        <div>
                            <li><h1>Otro</h1></li>
                            <li><a href="{% url 'buscar_categoria' 'Mochilas'  %}">Mochilas</a></li>
                            <li><a href="{% url 'buscar_categoria' 'Toallas'  %}">Toallas</a></li>
                            <li><a href="{% url 'buscar_categoria' 'otro'  %}">otro</a></li>
                        </div>
                    </ul>
                </div>
            </label> 
    
            <ul>
                <li><a href="">CATEGORIAS</a></li>
                <li><a href="{% url 'buscar_categoria' 'Ropa'  %}">ROPA</a></li>
                <li><a href="{% url 'buscar_categoria' 'Accesorios'  %}">ACCESORIOS</a></li>
                <li><a href="{% url 'buscar_categoria' 'Calzado'  %}">CALZADO</a></li>
            </ul>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    
    <footer class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col">
                    <h4>EMPRESA</h4>
                    <ul>
                        <li><a href="# ">QUIÉNES SOMO</a></li>
                        <li><a href="# ">SERVICIOS</a></li>
                        <li><a href="# ">PRIVACIDAD</a></li>
                        <li><a href="# ">AFILIADOS</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>OBTENER AYUDA</h4>
                    <ul>
                        <li><a href="# ">PREGUNTAS FRECUENTES</a></li>
                        <li><a href="# ">ENVÍOS</a></li>
                        <li><a href="# ">DEVOLUCIONES</a></li>
                        <li><a href="# ">ESTADO DEL PEDIDO</a></li>
                        <li><a href="# ">OPCIONES DE PAGO</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>TIENDA ONLINE</h4>
                    <ul>
                        <li><a href="# ">RELOJES</a></li>
                        <li><a href="# ">VESTIDOS</a></li>
                        <li><a href="# ">BOLSOS</a></li>
                        <li><a href="# ">ZAPATOS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- <script>
        var carrito_counter = sessionStorage.getItem("carrito_counter")
        document.getElementById('cart-count').innerText = carrito_counter
    </script> -->
</body>
</html>