{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_superuser %}
<body>
    <div class="TableAdmVer-container">
        <div  class="TableAdmText"><h1>Lista de Pedidos</h1></div>
        <div class="TableAdmVer" id="TableAdmVer2">
            <div class="tableAV">
                <table>
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>N° de Factura</th>
                            <th>Total</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                            <th>Acciones</th> <!-- Añadir columna para acciones -->
                        </tr>
                    </thead>
                    <tbody>
                        {% if facturas %}
                            {% for factura in facturas %}
                            <tr>
                                <td>{{ factura.usuario.username }}</td>
                                <td>{{ factura.numero_factura }}</td>
                                <td>${{ factura.total }}</td>
                                <td class="fecha" >{{ factura.fecha }}</td>
                                <td>Pendiente</td>
                                <td>
                                    <a href="{% url 'entregar_pedido' factura.id factura.total %}">Entregar</a>
                                </td>
                                <td>
                                    <a href="{% url 'anular_pedido' factura.id %}">Anular</a>

                                </td>
                            </tr>

                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5">No hay facturas disponibles</td> <!-- Ajustar colspan -->
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <a href="{% url 'tienda' %}">Volver A Inicio</a>
            <a href="{% url 'account' %}">Atrás</a>
            <a href="{% url 'estado_fecha' %}">Estado de Cuenta por Fecha</a>
            <a href="{% url 'estado_cliente' %}">Estado de Cuenta por Cliente</a>
	    </div>
	</div>

</body>
{% else %}
<div class="carrito_nofound">
    <h1>Solo los administradores peuden ver esto</h1>
</div>
{% endif %}
{% endblock %}
