{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_superuser %}
<body>
    <div class="TableAdmVer-container">
        <div  class="TableAdmText"><h1>MIS VENTAS</h1></div>
        <div class="TableAdmVer">
            <div class="tableAV">
                <table>
                    <thead>
                        <tr>
                            <th>N° de Factura</th>
                            <th>Usuario</th>
                            <th>Total Pagado</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if ventas %}
                            {% for venta in ventas %}
                            <tr>
                                <td>{{ venta.numero_factura }}</td>
                                <td>{{ venta.usuario.username }}</td>
                                <td>${{ venta.total_pagado }}</td>
                                <td>{{ venta.fecha }}</td>
             
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4">No tienes ventas registradas</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <a href="{% url 'account' %}">Atrás</a>
            <a href="{% url 'tienda' %}">Volver a la tienda</a>
	    </div>
            <!-- <a href="{% url 'tienda' %}">Volver a la tienda</a> -->
	</div>
</div>

</body>
{% else %}
<div class="carrito_nofound">
    <h1>Solo los administradores peuden ver esto</h1>
</div>
{% endif %}
{% endblock %}

