{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>
    <div class="TableAdmVer-container">
        <div  class="TableAdmText"><h1>PEDIDOS PENDIENTES</h1></div>
        <div class="TableAdmVer">
            <div class="tableAV">
                <table >
                    <thead>
                        <tr>
                            <th>N° de Factura</th>
                            <th>Total</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if pedidos %}
                            {% for pedido in pedidos %}
                            <tr>
                                <td>{{ pedido.numero_factura }}</td>
                                <td>${{ pedido.total }}</td>
                                <td>{{ pedido.fecha }}</td>
                                <td>Pendiente</td>
                                <td>
                                    <div class="delete-cont">
                                        <div class="delete-cont">
                                        <a href="{% url 'eliminar_pedido' pedido.id %}">Eliminar</a>
                                    </div>

                                    </div>

                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4">No tienes pedidos pendientes.{{ pedido }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <a href="{% url 'account' %}">Atrás</a>
            <a href="{% url 'tienda' %}">Volver a inicio</a>
        </div>
        
    </div>

</body>


{% endblock %}
